<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMindHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XMindHelper.Properties.Settings>
            <setting name="Projects" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BR213IC-GC-EL_MY16</string>
                        <string>BR213IC-GC-EL_MY17</string>
                        <string>BR213IC-GC-EL_MY18</string>
                        <string>BR213IC-GC-EL_SOP</string>
                        <string>BR213IC-GC-EL205MY18</string>
                        <string>BR213IC-GC-HL_MY16</string>
                        <string>BR213IC-GC-HL_MY17</string>
                        <string>BR213IC-GC-HL_MY18</string>
                        <string>BR213IC-GC-HL_SOP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SamplePhase" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>E24</string>
                        <string>E25</string>
                        <string>E27</string>
                        <string>E32</string>
                        <string>E33</string>
                        <string>E34</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SWRelease" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>pre10</string>
                        <string>pre15</string>
                        <string>pre20</string>
                        <string>pre21</string>
                        <string>pre22</string>
                        <string>pre23</string>
                        <string>pre24</string>
                        <string>pre25</string>
                        <string>pre26</string>
                        <string>pre27</string>
                        <string>pre28</string>
                        <string>pre29</string>
                        <string>pre30</string>
                        <string>pre31</string>
                        <string>pre32</string>
                        <string>pre33</string>
                        <string>pre34</string>
                        <string>pre35</string>
                        <string>pre36</string>
                        <string>pre37</string>
                        <string>pre38</string>
                        <string>pre39</string>
                        <string>pre40</string>
                        <string>pre41</string>
                        <string>pre42</string>
                        <string>pre43</string>
                        <string>pre44</string>
                        <string>pre45</string>
                        <string>pre46</string>
                        <string>pre47</string>
                        <string>pre48</string>
                        <string>pre49</string>
                        <string>pre50</string>
                        <string>pre51</string>
                        <string>pre52</string>
                        <string>pre53</string>
                        <string>pre54</string>
                        <string>pre55</string>
                        <string>pre56</string>
                        <string>pre57</string>
                        <string>pre58</string>
                        <string>pre59</string>
                        <string>pre60</string>
                        <string>pre61</string>
                        <string>pre62</string>
                        <string>pre63</string>
                        <string>pre64</string>
                        <string>pre65</string>
                        <string>pre66</string>
                        <string>pre67</string>
                        <string>pre68</string>
                        <string>pre69</string>
                        <string>pre70</string>
                        <string>pre71</string>
                        <string>pre72</string>
                        <string>pre73</string>
                        <string>pre74</string>
                        <string>pre75</string>
                        <string>pre76</string>
                        <string>pre77</string>
                        <string>pre78</string>
                        <string>pre79</string>
                        <string>pre80</string>
                        <string>pre81</string>
                        <string>pre82</string>
                        <string>pre83</string>
                        <string>pre84</string>
                        <string>pre85</string>
                        <string>pre86</string>
                        <string>pre87</string>
                        <string>pre88</string>
                        <string>pre89</string>
                        <string>pre90</string>
                        <string>pre91</string>
                        <string>pre92</string>
                        <string>pre93</string>
                        <string>pre94</string>
                        <string>pre95</string>
                        <string>pre96</string>
                        <string>pre97</string>
                        <string>pre98</string>
                        <string>pre99</string>
                        <string>pre100</string>
                    </ArrayOfString>
                </value>
            </setting>
        </XMindHelper.Properties.Settings>
    </userSettings>
</configuration>